@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --primary: #00b0d7;
  --accent: #ff6060;
  --dark: #001b2f;
  --ligft: #fff;
  --display_light: #fafafa;
  --display_dark: #00223a;
  --action_light: #e9f6ff;
  --action_dark: #001b2f;
}

* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.calculator {
  position: relative;
  overflow: hidden;
  width: 320px;
  border-radius: 20px;
  box-shadow: 8px 32px 64px rgba(0, 0, 0, 0.3);
}

.calculator__display {
  padding: 20px 24px;
  background-color: var(--display_light);
  text-align: right;
  padding-bottom: 44px;
  margin-bottom: -24px;
}

.calculator__history {
  font-size: 24px;
  height: 33px;
}
.calculator__history strong {
  font-weight: 400;
  color: var(--accent);
}

.calculator__total {
  font-size: 32px;
  font-weight: 600;
  height: 42px;
}

.calculator__actions {
  background-color: var(--action_light);
  border-radius: 20px;
  padding: 16px;
  padding-bottom: 32px;
  font-size: 24px;
}

.calculator__row {
  display: flex;
  justify-content: space-between;
}

.calculator__col {
  cursor: pointer;
  --size: 64px;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator__col img {
  pointer-events: none;
}
.calculator__col_reset {
  color: var(--accent);
}
.calculator__col_action {
  color: var(--primary);
}

.calculator_dark {
  color: var(--ligft);
}
.calculator_dark .calculator__display {
  background-color: var(--display_dark);
}
.calculator_dark .calculator__actions {
  background-color: var(--action_dark);
}

/*theme*/
.theme {
//   --size: 30px;
  width: var(--size);
  height: var(--size);
  display: flex;
  overflow: hidden;
  align-items: center;
  position: absolute;
  top: 16px;
  left: 16px;
// outline: 1px solid red;
cursor: pointer;
}

.theme-day {
//   fill: var(--display_dark);
fill: transparent;
// margin-left: -20px;
}
.theme-night {
//   fill: var(--display_dark);
  margin-left: -20px;
fill: transparent;
}
.theme_dark {
    // fill: var(--display_dark);
}